@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@500&display=swap');
/* .header {
  width: 100%;
  height: 100%;
  padding: 1.5%;
  background-color: #333333;
  color: white;
  text-align: center;
}
.header >h1 {
  font-size: x-large;

} */


html, body {
  overflow-x: hidden; 
}



body{
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  font-family: 'Lexend Deca', sans-serif;
  scroll-behavior: smooth;
}


.display-board {
  height: 100%;
  background-color: #ffffff;
  padding: 2%;
  text-align: center;
  border-radius: 10px;
  transition: all ease 0.4s;
}

.display-board:hover{
  transform: scale(1.05);
}

.layoutRow{
  justify-content: space-around;
  align-items: stretch;
}


.mrgnbtm {
  margin-top: 3rem;
}
.sButton{
  border-radius: 30px ;
  color:none;
  transition: all ease 0.4s;

}
.sButton:hover{
    opacity: 0.8;
 
}

.App{
  background-color: #212121;
  height:100%;
  width: 100%;
  font-family: 'Lexend Deca', sans-serif;
  background-image:url('img_girl.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

#grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.app {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.main-content {
  flex: 1;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
}

.page-content {
  padding: 20px;
}


.sidebar {
  background-color: #000;
  color: #fff;
  width: 220px;
  min-height: 100vh;
  padding: 20px;
}

.logo {
  color: #87AFC7;
  margin-bottom: 30px;
  font-size: 24px;
}

.nav-links {
  list-style: none;
  padding: 0;
}

.nav-links li {
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background 0.3s ease;
}

.nav-links li:hover,
.nav-links li.active {
  background-color: #1a1a1a;
  color: #87AFC7;
  border-radius: 8px;
}

.main-content {

  padding-left: 320px; /* Adjusted for sidebar width */
  background-color: #fff;
  color: #000;
  min-height: 100vh;
  padding: 20px;
}




